@model IQueryable<Product>
@{
    <form asp-action="UpdateProduct" method="post">
    @foreach (var pr in Model)
    {
        <div>    
            <h3>@pr.Name</h3>
            <h4>@pr.ManufactureEmail</h4>
            <h4>@pr.ManufacturePhone</h4>
            <h5>@pr.ProduceDate</h5>
            <div style="display: inline-block;">
               

             <a asp-action="UpdateProduct" asp-route-id="@pr.Id">Update</a>
             <a asp-action="DeleteProduct" asp-route-id="@pr.Id">Delete</a>
             <a asp-action="AddProduct" asp-route-id="@pr.Id">Add</a>
            </div>
        </div>
    }
    
    </form>
    }
    

